<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ user.fn() }}</title>
    </head>
    <body>
        <h1>{{ user.fn() }}</h1>
        <a href="/">Go back to list</a><br>
        <img src="{{ user.image_url }}" alt="{{ user.fn() }}" height="300">
        
        <form action="/{{user.id}}/delete"method="POST">
            <button type="submit" >DELETE THIS USER</button>
        </form>

        <form action="/{{user.id}}/edit_user">
            <button type="submit" >EDIT THIS USER</button>
        </form>
       
    </body>
</html>